<div class="containers martop">
    <ng-container *ngIf="requestList.length!=0">
        <div class="flexprop">
            <div>
                <p class="head">Request Details</p>
            </div>
            <div>
                <button class="cbtn">Remove All</button>
            </div>
        </div>
        <div class="box-container">
            <ng-container *ngFor="let doct of requestList">
            <div class="box">
                <div class="size">
                    <img class="image" src="../../assets/Images/{{doct.name}}.jpg">
                </div>
                <div class="comman mar">Name:{{doct.name}}</div>
                <div class="comman">Email:{{doct.email}}</div>
                <div class="flexprop2">
                    <div class="cur" (click)="Add(doct)"><i class="fa fa-light fa-circle-check fa-2xl" style="color: #09f124;"></i></div>
                    <div class="cur" (click)="removeItem(doct)"><i class="fa fa-circle-xmark fa-2xl" style="color: #fd1808;"></i></div>
                </div>
            </div>
            </ng-container>
        </div>
    
    </ng-container>
    
    <ng-container *ngIf="requestList.length==0">
        <div class="containers">
            <div class="cart-head">
                <h2 class="cart-emp"> Your RequestList is empty</h2>
                <button class="cbtn" [routerLink]="['/home']">Home</button>
            </div>
            <img src="../../assets/Images/emptycart.jpg" class="cartimg">
        </div>     
       </ng-container> 

</div>