.cbtn{
    font-size: 16px;
    background-color: #285bba;
    width: 180px;
    height: 40px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    /* -webkit-transition-property: box-shadow, transform; */
  }
  
  .cbtn:hover, .cbtn:active, .cbtn:focus ,.bt:hover , .bt:active, .bt:focus{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .flexprop{
    display: flex;
    justify-content: space-between;
  }
  .martop{
    position: relative;
    top: 150px;
  }

  .flexprop{
    display: flex;
    justify-content: space-between;
}
.containers{
    width:75%;
    margin: auto;
}
.widt{
    width: 38%;
}
.imgsize{
    width:900px ;
    height: 700px;
}
.p2{
    position: absolute;
    z-index: 2;
    top: 200px;
    left: 190px;
    font-size: 42px;
    font-weight: 780;
    color: #053ba1;
}
.p1{
    position: absolute;
    z-index: 2;
    top: 290px;
    left: 190px;
    font-size: 36px;
    font-weight: 780;
}
.martop{
    margin-top: 35px;
}
.containers3{
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    height: 80vh;
}
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    grid-gap: 1em;
    margin-top: 10px;
  
  }

.head{
    font-size: 28px;
    font-weight: 500;
}
.green
{
  color: #5993f7;
}

.box-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  grid-gap: 1em;
  margin-top: 10px;
  }
  .image{
    width: 160px;
    height:160px;
    border-radius: 50%;
  }
.box{
    padding:1.8rem 1.8rem .7rem 1.8rem;
    background: #fff;
    border-radius: 10px;
    border: 2px solid #5993f7;
    /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
   position: relative;
    text-align: center;
    z-index: 1;
    width: 220px;
    transition: 0.4s;
}
.box:hover{
  translate: 0px -8px;
}
.size{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #5993f7;
}
.flexprop2{
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}
.cur{
    cursor: pointer;
}
.cur:hover{
    transform: scale(1.04);
}
.mar{
    margin-top: 5px;
}
.comman{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cart-head{
    display: flex;
    justify-content: space-between;
  }
  .cart-emp{
    font-weight: 500;
    font-size: 30px;
  }
  .cartimg{
    margin-bottom: 150px;
    width: 800px;
    height: 650px;
  }

  /* responsive*/

  
@media screen and (max-width:1280px) {
  .imgsize
  {
      width: 800px;
      height: 650px;
  }
  .p2{
      left: 140px;
  }
  .p1{
      left: 140px;
  }
}
  @media screen and (max-width:1028px) {
    .cartimg
    {
      width: 600px;
      height: 600px;
    }
    .imgsize
    {
        width: 540px;
        height: 580px;
    }
    .p2{
        left: 100px;
        font-size: 32px;
    }
    .p1{
        top: 260px;
        left: 100px;
        font-size: 28px;
    }
  }
  @media screen and (max-width:820px) {
    .cartimg
    {
      width: 520px;
      height: 600px;
    }
    .cart-emp
    {
      font-size: 24px;
    }
    .cbtn
    {
      width: 100px;
    }
    .containers
    {
      height: 80vh;
    }
  }
  @media screen and (max-width:768px) {
    .cartimg
    {
      width: 440px;
      height: 520px;
    }
    .cart-emp
    {
      font-size: 24px;
    }
    .cbtn
    {
      width: 100px;
    }
    .containers
    {
      height: 80vh;
    }
  }
  @media screen and (max-width:420px) {
    .cartimg
    {
      width: 260px;
      height: 380px;
    }
    .cart-emp
    {
      font-size: 16px;
    }
    .cbtn
    {
      width: 80px;
    }
    .containers
    {
      height: 80vh;
    }
    .imgsize
    {
        width: 280px;
        height: 340px;
    }
    .p2{
        top: 140px;
        left: 20px;
        font-size: 18px;
    }
    .p1{
        top: 170px;
        left: 20px;
        font-size: 14px;
    }
  }
  @media screen and (max-width:375px) {
    .cartimg
    {
      width: 240px;
      height: 320px;
    }
    .cart-emp
    {
      font-size: 16px;
    }
    .cbtn
    {
      width: 80px;
    }
    .containers
    {
      height: 80vh;
    }
  }