<div class="containers">
    <p class="p2">Who we are ?</p>
    <div class="flexprop">
        <div >
            <p class="p1">We have over <span class="color">48</span> Years <br>of Experience</p>
        </div>
        <div>
            <img class="imgsize" src="../../assets/Images/pat2.jpg">
        </div>
    </div>
</div>
<div class="bggcolor">
    <div class="container3">
        <br><br>
        <div class="mile">Our MileStones</div>
        <div class="box">
            <div class="flexprop">
                <div class="comman">
                    <div class="comman2">15000+</div>
                    <div class="comman3">Happy Patients</div>
                </div>
                <div class="comman">
                    <div class="comman2">150+</div>
                    <div class="comman3">Experienced Doctors</div>
                </div>
                <div class="comman">
                    <div class="comman2">4.9<span class="rate">/ 5</span></div>
                    <div class="comman3">Average Rating</div>
                </div>
                <div class="comman">
                    <div class="comman2">200+</div>
                    <div class="comman3">Awards Won</div>
                </div>     
            </div>
        </div>
        <div>
            <div class="mile margin5">Our Vision</div>
            <div class="flexprop3">
                <div><img class="width30" src="../../assets/Images/vision.png"></div>
                <div class="width70 flexx color2 "><p class="p3 "><span><i class="fa fa-quote-left fa-2xl" style="color: #2859af;"></i></span><br>To be a globally respected destination for excellence in patient care and the most trusted Centre for personalized healthcare.</p></div>
            </div>
            <div class="mile margin5">Our Mission</div>
            <div class="flexprop3">
                
                <div class="width70 flexx color2 "><p class="p3 "><span><i class="fa fa-quote-left fa-2xl" style="color: #2859af;"></i></span><br>To provide exceptional, compassionate care, using cutting – edge technology and the latest advances in medicine with medical expertise in the most cost effective way.</p></div>
                <div class="maar"><img class="width30" src="../../assets/Images/mission.png"></div>
            </div>
        </div>
    </div><br><br><br>
</div>
