.flex1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/Images/24436327_6956037.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}
.box{
    width: 65%;
    height: 600px;
    background-color: #f3fbfe;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    opacity: 0.95;
}
.pad{
    padding: 45px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.flex3
{
    display: flex;
}
.flex2{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.circle
{
    width: 200px;
    border-radius: 50%;
    background-color: #053ba1;
    height: 200px;
    margin-left: 100px;
    border-radius: 2px solid black;
}
.commanIn
{
    margin-bottom: 20px;
}
input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 400px;
    border-radius: 10px;
}
select{
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 400px;
    border-radius: 10px;
}
.mile{
    margin-top: 20px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #053ba1;
    margin-bottom: 30px;
}
.butn2{
    margin-top: 10px;
        border: none;
        background-color: #a6c81a;
        color: white;
        height: 40px;
        width: 160px;
        border-radius: 25px;
        font-weight: 500;
        font-size: 18px;
        transition: .4s;
    }
    .butn2:hover{
        translate: 0px -4px;
    }
/* PopUp */
.dialog-box {
	width: 400px;
	background-color: #fff;
	border-radius: 8px;
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.1);
	text-align: center;
	padding: 0 30px 30px;
	color: #333;
	box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.5);
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
	z-index: 3;
  }
  .dialog-box input{
    width: 260px;
  }
  .open {
	top: 50%;
	visibility: visible;
	transform: translate(-50%, -50%) scale(1);
  }
  .dialog-box img {
	width: 55px;
	margin-top: -35px;
	border-radius: 50%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .dialog-box i {
	font-size: 24px;
	padding-top: 20px;
	float: right;
	transition: all 1s ease-in-out;
  }
  .dialog-box i:hover{
	cursor: pointer;
  }
  .dialog-box h2 {
	font-size: 25px;
	font-weight: 600;
	margin: 30px 0 10px;
  }
  .dialog-box button {
	width: auto;
    height: auto;
	padding: 10px;
	background-color: #359381;
	color: #fff;
	outline: none;
	border: 0;
	font-size: 18px;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }

  .fa{
    float: right;
  }
  .red{
    color: red;
  }
  
  /* responsive */
  @media screen and (max-width:1280px) {
    input
    {
        width: 350px;
    }
    select
    {
        width: 350px;
    }
    .circle{
        margin-left: 70px;
    }
  }
  @media screen and (max-width:1050px) {
    input
    {
        width: 250px;
    }
    select
    {
        width: 250px;
    }
    .circle{
        margin-left: 30px;
    }
  }
  @media screen and (max-width:820px) {
    input
    {
        width: 440px;
    }
    .circle{
        margin-left: 25%;
    }
    select
    {
        width: 440px;
    }
    .flex{
        display: block;
    }
    .flex2{
        display: block;
        margin-bottom: 0;
    }
    .box{
        height: 940px;
    }
  }
  @media screen and (max-width:768px) {
    input
    {
        width: 400px;
    }
    select
    {
        width: 400px;
    }

  }
  @media screen and (max-width:420px) {
    input
    {
        width: 180px;
    }
    select
    {
        width: 180px;
    }
    .mile{
        font-size: 25px;
    }
    .flex1
    {
     height: 120vh;
    }
    .circle{
        width: 140px;
        height: 140px;
        margin-left: 10%;
    }
    .box{
        height: 850px;
    }
  }
  @media screen and (max-width:380px) {
    input
    {
        width: 160px;
    }
    select
    {
        width: 160px;
    }
    .mile{
        font-size: 25px;
    }
   .flex1
   {
    height: 150vh;
   }
  }