<div class="containers">
    <div class="welcome" [ngClass]="{ 'hidden': !showWelcome }">
        <div>Welcome {{local}}!</div>
    </div>
    <p class="p2">How Can We Help<br>You Today...</p>
    <div class="flexprop">
        <div>
            <p class="p1">Committed to improving and<br> saving lives through <br>outstanding HealthCare</p>
            <button class="butn" [routerLink]="['/home/aboutus']">Know more <span class="martop"><i class="fa fa-arrow-right"></i></span></button>
        </div>
        <div>
            <img class="imgsize" src="../../assets/Images/homebg.jpg">
        </div>
    </div>
</div>
<div class="container2 ">
    <div>
        <div class="core">Our Core Values</div>
        <div class="mgm">MGM Healthcare aspires to deliver outstanding patient experiences with world class expertise backed by next generation medical and digital technologies because you deserve the best of care and are at the core of everything we do.
        </div>
    </div>
    <div class="margin2 ">
        <div class="core">Why Choose Us</div>
        <div class="mgm">We constantly strive to provide the best healthcare,
            with such an effort we have achieved,</div>
    </div>
</div>
<div class="bgimage">
    <div class="container3 margin2">
        <div class="dispflex">
            <div class="comman  margin2 violetbg">
                <div class="comman2 violet">1400+</div>
                <div class="comman3">Qualifies Staff</div>
            </div>
            <div class="comman margin2 greenbg">
                <div class="comman2 green">48</div>
                <div class="comman3">Years of Experience</div>
            </div>
            <div class="comman margin2 bluebg">
                <div class="comman2 blue">100+</div>
                <div class="comman3">Modern Equipment</div>
            </div>
        </div>
        <div class="dispflex margin">
            <div class="comman margin3 orangebg">
                <div class="comman2 orange">80+</div>
                <div class="comman3">Awards Won</div>
            </div>
            <div class="comman margin3 pinkbg">
                <div class="comman2 pink">360</div>
                <div class="comman3">Degree HealthCare</div>
            </div>
            <div class="comman margin3 lightbg">
                <div class="comman2 light">950+</div>
                <div class="comman3">Bedded Hospitals</div>
            </div>
        </div>
    </div>
</div>
<div class="color">
    <div class="container3">
        <div class="flexprop2">
            <div class="margin4">
                <div class="flex ">
                    <div class="core2">Consult our Doctors</div>
                    <div class="mgm">Beat The Queue To Consult A Doctor From MGM Hospital.<br>
        
                        You Deserve The Best Healthcare In The Comfort Of Your Home!</div>
                        <button class="butn2"  [routerLink]="['/home/booknow']" >Book an Appointment <span class="martop"><i class="fa fa-arrow-right"></i></span></button>
                </div>

            </div>
            <div>
                <img class="size" src="../../assets/Images/p2.jpg">
            </div>
        </div>
    </div>
</div>



<!-- <div class="bgcol">
<div class="mt ">
    <p class="mart">MGM Healthcare aspires to deliver outstanding patient experiences with world class expertise backed by next generation medical and digital technologies because you deserve the best of care and are at the core of everything we do.</p>
    <div class="bar"></div>

    <div>
        <div><img class="imgleft" src="../../assets/Images/icons8-heart-40.png"></div>
        <div><p>HealthCaring Never Stops</p></div>
        <div class="bar"></div>
    </div>
    <div >
        <img class="world" src="../../assets/Images/world.png">
    </div>
</div> -->


