*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.welcome
{
    width: 240px;
    border-radius: 20px;
    background-color: #a6c81a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding: 25px;
    font-size: 18px;
    font-weight: 500;position: relative;
    top: 100px;
    margin: auto;
    opacity: 0.9;
}
.welcome {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  .hidden {
    opacity: 0;
  }
 
.flexprop{
    display: flex;
    justify-content: space-between;
}
.containers{
    width:75%;
    margin: auto;
}
.widt{
    width: 38%;
}
.imgsize{
    width: fit-content;
    height: 700px;
}
.p2{
    position: absolute;
    z-index: 2;
    top: 200px;
    left: 190px;
    font-size: 42px;
    font-weight: 780;
    color: #053ba1;
}
.p1{
    position: absolute;
    z-index: 2;
    top: 350px;
    left: 190px;
    font-size: 26px;
    font-weight: 600;
}
.martop{
    margin-top: 35px;
}
.butn{
    position: absolute;
    top: 520px;
    left: 190px;
    border: none;
    background-color: #a6c81a;
    color: white;
    height: 40px;
    width: 180px;
    border-radius: 25px;
    font-weight: 500;
    font-size: 18px;
    transition: .4s;
}
.butn:hover{
    translate: 0px -4px;
}
.mt{
    margin-top: 50px;
    width: 60%;
    margin: auto;
}
.mt p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.bar{
    height: 8px;
    width: 160px;
    background-color: #053ba1;
    position: relative;
    left: 41%;
    border-radius: 10px;
}
.bgcol{
    background-color: #f5f5f5;
}
.world{
    width: 910px;
    height: 550px;
}
.imgleft{
    position: relative;
    left: 45%;
    width: 80px;
}
.mart{
    margin-top: 50px;
}
.container2
{
    width:55%;
    margin: auto;
    text-align: center;
}
.core{
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    color: #053ba1;
}
.mgm{
    font-size: 20px;
    margin-top: 5px;
    font-weight: 500;
}
.container3{
    width: 70%;
    margin: auto;
}
.dispflex{
    display: flex;
}
.comman{
    background-color: #fff;
    border-radius: 20px;
    width:30%;
    height:140px;
    box-shadow:  rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
    transition: .6s;
}

.margin 
{
    margin-top: 20px;
}
.margin2
{
    margin-top: 50px;
}
.bgimage
{
    background-image: url("../../assets/Images/bg2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 650px;
    filter: blur(30%);
}
.margin3
{
    margin-bottom: 50px;
}
.comman2{
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 8px;
}

.violetbg:hover
{
    color: #fff;
    background-color: darkorchid;
}
.violet{
    color:darkorchid;
}
.green{
    color: #a6c81a;
}
.greenbg:hover
{
    color: #fff;
    background-color: #a6c81a;
}
.blue{
    color: #053ba1;
}
.bluebg:hover
{
    color: #fff;
    background-color: #053ba1;
}
.orange{
    color: orangered;
}
.orangebg:hover
{
    color: #fff;
    background-color: orangered;
}
.light{
    color:blueviolet;
}
.lightbg:hover
{
    color: #fff;
    background-color: blueviolet;
}
.pink{
    color:deeppink;
}
.pinkbg:hover
{
    color: #fff;
    background-color: deeppink;
}
.comman3{
    font-weight: 600;
    font-size: 18px;
}
.comman:hover{
    translate: 0px -8px;
}
.comman:hover div{
    color: #fff;
}
.size{
    width: 100%;
    height: 500px;
}
.flexprop2{
    display: flex;
}
.flex{
    display: flex;
    flex-direction: column;
}
.color{
    background-color: #f3fbfe;
}

.margin4{
    margin-top: 140px;
}
.core2{
    font-size: 30px;
    font-weight: 700;
    color: #1b78c6;
}
.butn2{
margin-top: 40px;
    border: none;
    background-color: #a6c81a;
    color: white;
    height: 40px;
    width: 260px;
    border-radius: 25px;
    font-weight: 500;
    font-size: 18px;
    transition: .4s;
}
.butn2:hover{
    translate: 0px -4px;
}
.content , .content1  , .content2{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .content.show , .content1.show , .content2.show{
    opacity: 1;
  }

  
  /* responsive */
  @media screen and (max-width:1280px) {
    .imgsize
    {
        width: 700px;
        height: 650px;
    }
    .p2{
        left: 120px;
    }
    .p1{
        left: 120px;
    }
    .butn{
        left: 120px;
    }
  }
  @media screen and (max-width:1050px) {
    .imgsize
    {
        width: 500px;
        height: 500px;
    }
    .p2{
        top: 160px;
        left: 100px;
        font-size: 32px;
    }
    .p1{
        top: 260px;
        left: 100px;
        font-size: 24px;
    }
    .butn{
        top: 400px;
        left: 100px;
    }
  }
  @media screen and (max-width:820px) {
    .imgsize
    {
        width: 480px;
        height: 480px;
    }
    .p2{
        top: 130px;
        left: 80px;
        font-size: 24px;
    }
    .p1{
        top: 220px;
        left: 80px;
        font-size: 18px;
    }
    .butn{
        top: 340px;
        left: 80px;
        width: 140px;
        height: 30px;
        font-size: 14px;
    }
    .comman3{
        font-weight: 600;
        font-size: 14px;
    }
    .margin4
    {
        margin-top: 30px;
    }
    .size{
        width: 120%;
    }
  }

  @media screen and (max-width:420px) {
    .imgsize
    {
        width: 240px;
        height: 290px;
    }
    .p2{
        top: 100px;
        left: 30px;
        font-size: 16px;
    }
    .p1{
        top: 150px;
        left: 30px;
        font-size: 10px;
    }
    .butn{
        top: 200px;
        left: 30px;
        width: 100px;
        height: 30px;
        font-size: 11px;
    }
    .core, .core2{
        font-size: 16px;
    }
    .mgm{
        font-size: 12px;
    }
    .comman
    {
        width:33%;
        height: 90px;
    }
    .comman2{
        font-size: 14px;
    }
    .comman3{
        font-weight: 600;
        font-size: 8px;
        text-align: center;
    }
    .margin4
    {
        margin-top: 0px;
    }
    .size{
        width: 100%;
    }
    .flex, .flexprop2
    {
        display: block;
    }
  }
  @media screen and (max-width:380px) {
    input
    {
        width: 160px;
    }
    select
    {
        width: 160px;
    }
    .mile{
        font-size: 25px;
    }
   .flex1
   {
    height: 150vh;
   }
  }